<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{epi}}</title>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <style type="text/css">
        .frame-row {
            display : flex;
            margin-left : 3%;
            margin-right : 3%;
            margin-bottom : 3%;
        }
        .image-frame {
            width : 100%;
        }

        ul{
            list-style:none;
            padding :0px;
            margin-left : 3%;
            margin-right : 3%;
            overflow: auto;
        }

        li {
            width : 47%;
            float: left;
            margin-left : 2%;
            margin-bottom : 2%;
        }


    </style>
</head>
<body>
<h1>{{epi}}</h1>

<div class="frame-container">
    <ul>
        {% for f_name, use in zip(file_name, use_yn) %}
        <li>
            {% if use == 'Y' %}
            <img class="image-frame" src="/static/img/freedraw/cropped/{{epi}}/{{f_name}}" use={{use}}>
            {% elif use == 'N' %}
            <img class="image-frame" style="opacity:0.5" src="/static/img/freedraw/cropped/{{epi}}/{{f_name}}" use={{use}}>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>

<div style="display:flex">
    <div id='box-left' style="flex: 1;">
        <a href="{{prev(epi)}}" id="prevBtn" style="float:left">이전 화</a>
    </div>
    <div id='box-center' style="flex: 1; display:flex; justify-content: center; ">
        <button id="saveBtn">저장</button>
    </div>
    <div id='box-right' style="flex: 1;">
        <a href="{{next(epi)}}" id="nextBtn" style="float:right">다음 화</a>
    </div>
</div>


</body>
<script>
    var imgs = document.getElementsByTagName("img");

    for(var x = 0 ; x < imgs.length ; x++ ) {
        imgs[x].onclick = function(){
            if (this.getAttribute('use') === 'Y') {
                this.setAttribute('use' , 'N');
                this.style.opacity = 0.5;
            } else if (this.getAttribute('use') === 'N') {
                this.setAttribute('use' , 'Y');
                this.style.opacity = 1;
            } else {
                alert('check use attribute')
            }
        };
    }

    var prevBtn = document.getElementById('prevBtn')
    var nextBtn = document.getElementById('nextBtn')
    var saveBtn = document.getElementById('saveBtn')

    saveBtn.onclick = function(){
        if(confirm("저장하시겠습니까?")){
            alert("abc")

            var imgs = document.getElementsByTagName("img");

            var file_name_list = []
            var use_yn_list = []
            for(var x = 0 ; x < imgs.length ; x++ ) {
                file_name_list.push(imgs[x].getAttribute('src'))
                use_yn_list.push(imgs[x].getAttribute('use'))
            }

            var postdata = {
                epi : '{{epi}}',
                file_name_list: file_name_list,
                use_yn_list: use_yn_list
            };

            $.ajax({
                type: 'POST',
                url: '{{url_for("save")}}',
                data: JSON.stringify(postdata),
                dataType : 'JSON',
                contentType: "application/json",
                success: function(data){
                    alert('성공!')
                },
                error: function(request, status, error){
                    alert('ajax 통신 실패')
                    alert(error);
                }
            })
        }
    }

</script>
</html>